body{
    background-color: #f4f4f0;
    margin: 0;
}

.container{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: firebrick;
}

.box {
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    height: 100px;
    width: 100px;
    align-content: center;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px white;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    transform-origin: center;
    transition: transform 2s, border-radius 2s;
}

.zoom{
    transform: scale(6.5);
    border-radius: 2%;
}

.button{
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    line-height: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.message{
    display: none;
    font-family: "Monotype Corsiva";
    font-size: 3px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.25px;
    word-spacing: 1px;
}
